<a href="https://colab.research.google.com/github/InwARMSelviAXE/BasicProg_DataViz65/blob/main/Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
#เชื่อม google drive 
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/BPDV65/พี่สอน')

!pwd #เช็ค paht ที่กำลังทำงานอยู่

/content/drive/MyDrive/BPDV65/พี่สอน

In [76]:
!ls

opendata_eating_score_clean.csv  opendata_project.csv
opendata_eating_score.csv	 opendata_unittype_clean.csv
opendata_living_score_clean.csv  opendata_unittype.csv
opendata_living_score.csv	 Residental_clean.csv
opendata_project_clean.csv	 Residental_clean.gsheet

In [77]:
#open CSV file 
import pandas as pd

In [78]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,2022-09-30
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,2022-09-30

In [79]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/ไลฟ์-รัชดาภิเษก-...,2022-09-30
1,34437,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/ธนาโฮม-อุดรธานี-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/ธนพล-คอนโดมิเนีย...,2022-09-30

In [80]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30

In [81]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

In [82]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,พหลโยธิน ปาร์ค คอนโดมิเนียม,2,Condo,คอนโด,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/พหลโยธิน-ปาร์ค-ค...,2022-09-30
1,20964.0,project_15158,The Chill Village,เดอะ ชิลล์ วิลเลจ,3,Townhome,ทาวน์โฮม,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/เดอะ-ชิลล์-วิลเล...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,ดีญ่า วาเล่ย์ ศรีราชา,1,Detached House,บ้าน,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/ดีญ่า-วาเล่ย์-ศร...,2022-09-30

In [83]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [84]:
opendata_project = opendata_project[['project_id',  'name_en',  'propertytype_id',
       'propertytype_name_en', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [85]:
opendata_project.head()

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,NaN,13.786388,100.553931,B1161,...,NaN,96.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,NaN,16.209059,103.288288,NaN,...,NaN,125.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,NaN,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,1,Detached House,2750000.0,developer_10510,NaN,8.096150,98.309995,NaN,...,NaN,32.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,3,Townhome,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,100.633945,B1073,...,NaN,114.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0

In [86]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

In [87]:
# ' price_min ' ราคาต่ำสุดโครงการ
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min'])

109

In [88]:
# ' longitude '
opendata_project[opendata_project['longitude'].isnull()]

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
168,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12097,ขนส่งปทุม,3611.0,บ้านฉาง,3600,เมืองปทุมธานี,3599,Pathum Thani,12000.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15944,ขนส่งปทุม,3634.0,คูบางหลวง,3630,ลาดหลุมแก้ว,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17513,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17559,ขนส่งปทุม,3656.0,บางโพธิ์เหนือ,3647,สามโคก,3599,Pathum Thani,12160.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21577,ขนส่งปทุม,3634.0,คูบางหลวง,3630,ลาดหลุมแก้ว,3599,Pathum Thani,12140.0,NaN,NaN,...,baania,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
opendata_project = opendata_project.dropna(subset=['longitude'])

In [90]:
# 'subdistrict_id' รหัสตำบล
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

16

In [91]:
# 'zipcode' รหัสไปรษณีย์
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

28

In [92]:
#fill NA with Text
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #รหัสย่าน 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [93]:
# จำนวนลิฟต์และชั้น
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #จำนวนชั้นของตัวโครงการ, จำนวนยูนิตในโครงการ, จำนวนแบบ้านในโครงการ
opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_floor','count_parking', 'count_elevator_service']].fillna(0) 
# สิ่งอำนวยความสะดวก
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [94]:
opendata_project.isnull().any()

project_id                False
name_en                   False
propertytype_id           False
propertytype_name_en      False
price_min                 False
developer_id              False
developer_name_en         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
dtype: bool

In [95]:
# save data
opendata_project.to_csv('opendata_project_clean.csv', index=False)

In [96]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) 
opendata_unittype.head(3)

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/ไลฟ์-รัชดาภิเษก-...,2022-09-30
1,34437,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/ธนาโฮม-อุดรธานี-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/ธนพล-คอนโดมิเนีย...,2022-09-30

In [97]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [98]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_18897,project_6287,Studio,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_39281,project_17150,บ้านเดี่ยวชั้นเดียว,1,Detached House,บ้าน,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,คอนโด,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

In [100]:
# # ' price_min ' ราคาต่ำสุดโครงการ
# print(len(opendata_unittype[opendata_unittype['price_min'].isnull()])) #we used dropna()
# opendata_unittype = opendata_unittype.dropna(subset=['price_min'])

In [101]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

In [102]:
# จำนวนชั้นในบ้าน
opendata_unittype[['count_floor_internal']]  = opendata_unittype[['count_floor_internal']].fillna(1) 
# จำนวนห้อง, จำนวนลิฟต์, จำนวนแอร์
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_bed','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [103]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [104]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

In [105]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head(3)

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30

In [106]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [107]:
opendata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,1007,CHANG KHLAN,ช้างคลาน,1006,MUEANG CHIANG MAI,เมืองเชียงใหม่,1005,Chiang Mai,เชียงใหม่,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0
1,3941,BANG PHONGPHANG,บางโพงพาง,3939,YAN NAWA,ยานนาวา,3781,Bangkok,กรุงเทพมหานคร,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3829,CHIMPHLI,ฉิมพลี,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0
3,3503,BANG DUAN,บางด้วน,3499,MUEANG SAMUT PRAKAN,เมืองสมุทรปราการ,3498,Samut Prakan,สมุทรปราการ,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0
4,2624,RAWAI,ราไวย์,2617,MUEANG PHUKET,เมืองภูเก็ต,2616,Phuket,ภูเก็ต,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0

In [108]:
opendata_eating_score.isnull().any()

subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [109]:
opendata_eating_score.dtypes

subdistrict_id                int64
subdistrict_name_en          object
subdistrict_name_th          object
district_id                   int64
district_name_en             object
district_name_th             object
province_id                   int64
province_name_en             object
province_name_th             object
eating_daytime              float64
eating_daytime_price        float64
eating_daytime_quality      float64
eating_daytime_variety      float64
eating_nighttime            float64
eating_nighttime_price      float64
eating_nighttime_quality    float64
eating_nighttime_variety    float64
dtype: object

In [110]:
# save data
opendata_eating_score.to_csv('opendata_eating_score_clean.csv', index=False)

In [111]:
opendata_living_score = pd.read_csv('opendata_living_score.csv')
print(opendata_living_score.shape) 
opendata_living_score.head(3)

(709, 28)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,634,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,...,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0,baania,2022-09-30
1,619,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,...,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0,baania,2022-09-30
2,284,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,...,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0,baania,2022-09-30

In [112]:
opendata_living_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total', 'source', 'day'],
      dtype='object')

In [113]:
opendata_living_score = opendata_living_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'walk_leisure', 'walk_public_service',
       'walk_school', 'walk_shopping', 'walk_work', 'walk_total',
       'access_boat', 'access_bus', 'access_train', 'access_total',
       'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]
opendata_living_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,walk_leisure,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,3410,SANO LOI,โสนลอย,3402,BANG BUA THONG,บางบัวทอง,3372,Nonthaburi,นนทบุรี,96.0,...,98.0,100.0,1.0,79.0,100.0,100.0,100.0,100.0,100.0,100.0
1,3976,TALAT NOI,ตลาดน้อย,3973,SAMPHANTHAWONG,สัมพันธวงศ์,3781,Bangkok,กรุงเทพมหานคร,100.0,...,100.0,100.0,100.0,100.0,100.0,87.0,100.0,100.0,100.0,99.0
2,4669,BAN KAO,บ้านเก่า,4663,PHAN THONG,พานทอง,4616,Chon Buri,ชลบุรี,7.0,...,0.0,0.0,0.0,0.0,79.0,91.0,86.0,84.0,93.0,85.0
3,2647,BAN THUM,บ้านทุ่ม,2638,MUEANG KHON KAEN,เมืองขอนแก่น,2637,Khon Kaen,ขอนแก่น,11.0,...,0.0,0.0,0.0,0.0,73.0,65.0,73.0,57.0,47.0,62.0
4,3799,RAM INTHRA,รามอินทรา,3797,KHAN NA YAO,คันนายาว,3781,Bangkok,กรุงเทพมหานคร,89.0,...,1.0,94.0,5.0,39.0,99.0,61.0,99.0,90.0,84.0,89.0

In [114]:
opendata_living_score.isnull().any()

subdistrict_id          False
subdistrict_name_en     False
subdistrict_name_th     False
district_id             False
district_name_en        False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
dtype: bool

In [115]:
opendata_living_score.dtypes

subdistrict_id            int64
subdistrict_name_en      object
subdistrict_name_th      object
district_id               int64
district_name_en         object
district_name_th         object
province_id               int64
province_name_en         object
province_name_th         object
walk_leisure            float64
walk_public_service     float64
walk_school             float64
walk_shopping           float64
walk_work               float64
walk_total              float64
access_boat             float64
access_bus              float64
access_train            float64
access_total            float64
drive_leisure           float64
drive_public_service    float64
drive_school            float64
drive_shopping          float64
drive_work              float64
drive_total             float64
dtype: object

In [116]:
# save data
opendata_living_score.to_csv('opendata_living_score_clean.csv', index=False)

In [117]:
import pandas as pd
opendata_project_clean = pd.read_csv('opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('opendata_unittype_clean.csv') #ตารางหลัก
opendata_eating_score_clean = pd.read_csv('opendata_eating_score_clean.csv')
opendata_living_score_clean = pd.read_csv('opendata_living_score_clean.csv')

In [118]:
opendata_unittype_clean.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility'],
      dtype='object')

In [119]:
opendata_project_clean.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [120]:
# select columns 
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id', 'name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
#พบว่าชื่อ columns ซ้ำกัน
# count_parking
# count_elevator

#เปลี่ยนชื่อ columns
opendata_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True)
opendata_unittype_clean.head(3)

,unittype_id,project_id,name_th,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,บ้านเดี่ยวชั้นเดียว,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,Studio,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
# merge
table_merge = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(54604, 49)

In [123]:
table_merge.isnull().any()

project_id                 False
name_en                    False
propertytype_id            False
propertytype_name_en       False
price_min                  False
developer_id               False
developer_name_en          False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_en       False
subdistrict_id             False
subdistrict_name_en        False
subdistrict_name_th        False
district_id                False
district_name_en           False
district_name_th           False
province_id                False
province_name_en           False
province_name_th           False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
name_th                    False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

In [124]:
table_merge.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility'],
      dtype='object')

In [125]:
opendata_eating_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [126]:
# select columns 
opendata_eating_score_clean = opendata_eating_score_clean[['subdistrict_id', 'district_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]

In [127]:
len(set(opendata_eating_score_clean['province_id'])) #Location scope - กรุงเทพ ปริมณฑล

10

In [128]:
len(set(table_merge['province_id']))#Location scope - All

72

In [129]:
# merge
table_merge2 = table_merge.merge(opendata_eating_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge2.shape)

(54604, 57)

In [130]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [131]:
# ' eating_daytime ' คะแนนการกิน ด้านราคา ช่วงกลางวัน
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))

11169

In [132]:
len(table_merge2) #ข้อมูลทั้งหมด

54604

In [133]:
#we used fill Null with 0 
table_merge2 = table_merge2.fillna(0)

In [134]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
propertytype_id             False
propertytype_name_en        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
name_th                     False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [135]:
table_merge2.columns

Index(['project_id', 'name_en', 'propertytype_id', 'propertytype_name_en',
       'price_min', 'developer_id', 'developer_name_en', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id', 'name_th',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [136]:
opendata_living_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total'],
      dtype='object')

In [137]:
# select columns 
opendata_living_score_clean = opendata_living_score_clean[['subdistrict_id', 
       'district_id','province_id', 'walk_leisure',
       'walk_public_service', 'walk_school', 'walk_shopping', 'walk_work',
       'walk_total', 'access_boat', 'access_bus', 'access_train',
       'access_total', 'drive_leisure', 'drive_public_service', 'drive_school',
       'drive_shopping', 'drive_work', 'drive_total']]

In [138]:
len(set(opendata_living_score_clean['province_id'])) #Location scope - กรุงเทพ ปริมณฑล

18

In [139]:
len(set(table_merge2['province_id'])) #Location scope - All

72

In [140]:
# merge
table_merge3 = table_merge2.merge(opendata_living_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge3.shape)

(54604, 73)

In [141]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service     True
drive_school             True
drive_shopping           True
drive_work               True
drive_total              True
Length: 73, dtype: bool

In [142]:
# ' eating_daytime ' คะแนนการกิน ด้านราคา ช่วงกลางวัน
print(len(table_merge3[table_merge3['walk_public_service'].isnull()]))

5362

In [143]:
#we used fill Null 
table_merge3 = table_merge3.fillna(0)

In [144]:
table_merge3.isnull().any()

project_id              False
name_en                 False
propertytype_id         False
propertytype_name_en    False
price_min               False
                        ...
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
Length: 73, dtype: bool

In [145]:
table_merge3

,project_id,name_en,propertytype_id,propertytype_name_en,price_min,developer_id,developer_name_en,latitude,longitude,neighborhood_id,...,access_boat,access_bus,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total
0,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,Unknown,13.786388,100.553931,B1161,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
1,project_4270,Paholyothin Park Condominium,2,Condo,3650000.0,developer_10510,Unknown,13.786388,100.553931,B1161,...,100.0,100.0,44.0,89.0,100.0,89.0,100.0,99.0,95.0,98.0
2,project_15158,The Chill Village,3,Townhome,2450000.0,developer_10510,Unknown,16.209059,103.288288,Unknown,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,0.0,0.0,0.0,0.0,73.0,78.0,70.0,80.0,82.0,78.0
4,project_9490,Diya Valley Sriracha,1,Detached House,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,100.954876,B0752,...,0.0,0.0,0.0,0.0,73.0,78.0,70.0,80.0,82.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54599,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54600,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54601,project_3718,Passorn Prestige Rangsit-Klong 2,1,Detached House,3790000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",13.993865,100.662066,B0967,...,0.0,100.0,0.0,40.0,100.0,100.0,99.0,100.0,99.0,100.0
54602,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,Unknown,13.707605,100.610161,B1049,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0
54603,project_7949,The Tropical Condominium,2,Condo,999000.0,developer_5477,Unknown,13.707605,100.610161,B1049,...,87.0,92.0,39.0,80.0,97.0,64.0,99.0,86.0,95.0,88.0

In [146]:
# save data
table_merge3.to_csv('Residental_clean.csv', index=False)